body {
    background-color: rgb(209, 134, 146);
}

.title {
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1000%;
    color: white;
}

.selectd {
    margin-bottom: 1%;
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 600%;
}

.difficulty {
    color: white;
}

.difficulty-btn {
    color: white;
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    background-color: #6e5447;
    transition: all 0.5s ease 0s;
    border-radius: 30px;
    margin-right: 1%;
}
.difficulty-btn:hover {
    color: #6e5447;
    background-color: white;
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 5px #ff6a8a, 
              0 0 20px #ff6a8a, 
              0 0 60px #ff6a8a;
    border-radius: 30px;
}

.flower {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.restart {
    color: #6e5447;
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 300%;
    background-color: #ff88a2;
    transition: all 0.5s ease 0s;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.restart:hover {
    color: #6e5447;
    background-color: #ff88a2;
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 5px #7a6256, 
              0 0 20px #7a6256, 
              0 0 60px #7a6256;
    border-radius: 30px;
}

.wordDisplay {
    padding-bottom: 8%;
    font-size: 800%;
    font-family: "corsairpe", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.enterletter {
    margin-bottom: 8%;
}

.guess {
    background-color: white;
}